@model List<Product>

<div class="Container border p-3 mt-4">
    
    <div class="row">
        <h2 class="text-primary text-center">Product List</h2>
        <hr />
    </div>

    <div class="col-12 text-end pb-3 ">
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-square"></i> Create New Product
        </a>
    </div>

    <table class="table table-bordered table-striped ">
        <thead>
            <tr>
                <th>
                    Product Name
                </th>
                <th class="hide-on-small1">
                    Description
                </th>
                <th class="hide-on-small2">
                    List Price
                </th>
                <th>
                    Real Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.Id))
            {
                <tr>
                    <td>@obj.Title</td>
                    <td class="hide-on-small1">@obj.Description</td>
                    <td class="hide-on-small2">@obj.ListPrice</td>
                    <td>@obj.RealPrice</td>
                    
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Edit</a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>